include LICENSE.md
include MANIFEST.in
include README.md
include tc3tg/_version.py
include requirements.txt

recursive-include tc3tg *.TcPOU *.TcGVL

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
